html, body{
  font: normal 1em Sans-serif;
  padding: 0;
  margin: 0;
}

*, *:after, *:before{
  box-sizing: border-box;
}

.async-error {
  position: relative;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #dc0000;
  font-size: 0.75em;
  background: #ffecec;
}


.search-box{
  padding: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  max-width: 360px;
  margin: 30px auto;
}

.input-field{
  width: 100%;
  margin-bottom: 18px;
}

.input-field label{
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 0.9em;
  display: block;
}


select,input,button{
  width: 100%;
  display: block;
  padding: 10px;
  margin: 0;  
  font-size: 1em
}

.search-box button{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background: #e4e4e4;
  color: #000;
}

.search-box button:disabled{
  background: #efefef;
  color: #aaa;
  cursor: not-allowed;
}

.input-field select{
  padding: 10px;
  -webkit-appearance: listbox;
  -moz-appearance:    listbox;
  appearance:         listbox;
  position: relative;
}

.input-field.select{
  position: relative;
}

.input-field.select:after{
  top: calc(50% + 7px);
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 7px;
  margin-left: -7px;
}

.search-box hr{
  margin-left: -16px;
  width: calc(100% + 32px);
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #dedede
}
